@import '../../../variables';
.employee-details {
  width: 60%;
  margin: 0 auto;

  &__card {
    display: block;
    padding: 20px;
    background-color: map-get($my-primary, 100);
    border-radius: 8px;
    box-shadow:
      0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  &__form-field {
    width: 100%;
  }

  &__information {
    padding: 20px;
    background-color: map-get($my-primary, 50);
    border-radius: 8px;

    h2 {
      margin-bottom: 20px;
      color: map-get($my-primary, 500);
    }

    button {
      margin-right: 10px;
      background-color: map-get($my-primary, 400);
      color: white;
    }
  }
}

@media (max-width: 600px) {
  .employee-details {
    width: 90%;
    margin: 0 auto;
  }
}
