<div *ngIf="!isFormVisible && !employee">
  <button (click)="onAddEmployee()">{{ 'employee.list.button.add' | translate }}</button>
</div>

<div *ngIf="employee">
  <div *ngIf="!isFormVisible">
    <h2>{{ employee.name | uppercase }} {{ 'employee.list.details.title' | translate }}</h2>
    <div>id: {{ employee.id }}</div>
    <div>{{ 'employee.list.details.name' | translate }}: {{ employee.name }}</div>
    <div>{{ 'employee.list.details.surname' | translate }}: {{ employee.surname }}</div>
    <div>{{ 'employee.list.details.skills' | translate }}: {{ employee.skills.join(', ') }}</div>
    <div>{{ 'employee.list.details.hireDate' | translate }}: {{ employee.hireDate }}</div>
    <div>{{ 'employee.list.details.manager' | translate }}: {{ employee.manager }}</div>

    <button (click)="onEdit()">{{ 'employee.list.actions.edit' | translate }}</button>
    <button (click)="onClose()">{{ 'employee.list.actions.close' | translate }}</button>
  </div>
  <form *ngIf="isFormVisible" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">{{ 'employee.list.form.labels.name' | translate }}: </label>
      <input id="name" formControlName="name" />
    </div>
    <div>
      <label for="surname">{{ 'employee.list.form.labels.surname' | translate }}: </label>
      <input id="surname" formControlName="surname" />
    </div>
    <div>
      <label for="skills">{{ 'employee.list.form.labels.skills' | translate }}: </label>
      <select id="skills" formControlName="skills" multiple>
        <option *ngFor="let skill of availableSkills" [value]="skill">{{ skill }}</option>
      </select>
    </div>
    <div>
      <label for="hireDate">{{ 'employee.list.form.labels.hireDate' | translate }}: </label>
      <input type="date" id="hireDate" formControlName="hireDate" />
    </div>
    <div>
      <label for="manager">{{ 'employee.list.form.labels.manager' | translate }}: </label>
      <select id="manager" formControlName="manager">
        <option *ngFor="let manager of managers" [value]="manager.split(' ')[0]">{{ manager }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="employeeForm.invalid">{{ 'employee.list.form.buttons.save' | translate }}</button>
    <button type="button" (click)="onReset()">{{ 'employee.list.form.buttons.reset' | translate }}</button>
    <button type="button" (click)="onClose()">{{ 'employee.list.form.buttons.close' | translate }}</button>
  </form>
</div>
