@import '../../../variables';

.employee-dashboard {
  &__item {
    width: 60%;
    margin: 0.625rem auto;
    display: flex;
    justify-content: space-between;
    background-color: $navy-light;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;

    &:hover {
      cursor: pointer;
      background-color: $navy-medium;
      color: white;
      transform: scale(1.03);
    }
  }

  &__name {
    margin: 0 0.625rem;
    color: $navy-dark;
  }

  &__action {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    background-color: white;

    &:hover {
      background-color: white;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .employee-dashboard {
    &__item {
      width: 90%;
    }
  }
}
