@import '../../../variables';

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navy-darkest;
  padding: 0 1.875rem;
  margin: 0.625rem auto;
  border-radius: 0.625rem;

  &__title {
    font-size: 2rem;
    margin: 0;
    padding: 0.625rem;
    color: $rose-light;
  }

  &__content {
    color: $navy-dark;
    cursor: pointer;
  }

  &__navigation {
    color: $navy-light;
    padding-left: 0.625rem;
  }

  &__link {
    color: white;
    text-decoration: none;
    padding: 0.625rem;
    transition: background-color 0.3s ease;
    border-radius: 0.625rem;

    &:hover {
      background-color: $navy-dark;
      border-radius: 0.625rem;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    width: 90%;
    padding: 0 0.9375rem;

    &__title {
      font-size: 1.5rem;
      padding: 0.625rem;
    }
  }
}
