@import '../../../variables';

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navy-darkest;
  padding: 0 30px;
  margin: 10px auto;
  border-radius: 10px;

  &__title {
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    color: $rose-light;
  }

  &__content {
    color: $navy-dark;
    cursor: pointer;
  }

  &__navigation {
    color: $navy-light;
    padding-left: 10px;
  }

  &__link {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;

    &:hover {
      background-color: $navy-dark;
      border-radius: 10px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    width: 90%;
    padding: 0 15px;

    &__title {
      font-size: 1.5rem;
      padding: 10px;
    }
  }
}
