@import '../../../../../variables';

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navy-darkest;
  padding: 0 1.875rem;
  margin: 0.625rem auto;
  border-radius: 0.625rem;
  color: $white;
  position: relative;

  &__title {
    font-size: 2rem;
    margin: 0;
    padding: 0.625rem;
    color: $rose-light;
    transform: translateX(15%);
  }

  &__content {
    color: $navy-dark;
    cursor: pointer;
  }

  &__navigation {
    color: $navy-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  &__link {
    color: $white;
    text-decoration: none;
    padding: 0.625rem;
    transition: background-color 0.3s ease;
    border-radius: 0.625rem;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;

    &:hover {
      background-color: $navy-dark;
      border-radius: 0.625rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__content {
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
    margin-top: 0.1rem;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $navy-darkest;
    border-radius: 0.625rem;
    z-index: 10;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 0;
  }

  &__content.open {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    width: 90%;
    padding: 0 0.9375rem;

    &__title {
      font-size: 1.5rem;
      padding: 0.625rem;
    }
  }
}


