<header class="header" (document:click)="onClick($event)">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleContent(); $event.stopPropagation()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="header__title">{{ title }}</h1>
  <div class="header__content" [class.open]="isOpen">
    <nav class="header__navigation">
      <a class="header__link" routerLink="/dashboard" (click)="hideContent(); $event.stopPropagation()">Dashboard</a>
      <a class="header__link" routerLink="/employees" (click)="hideContent(); $event.stopPropagation()">Employees</a>
    </nav>
  </div>
  <div class="header__utilities">
    <app-messages></app-messages>
    <app-translate></app-translate>
  </div>
</header>
