<app-translate></app-translate>
<mat-list class="employee-list">
  <mat-list-item
    *ngFor="let employee of employees"
    class="employee-list__item"
    [ngClass]="{ 'employee-list__item--selected': selectedEmployee === employee }"
    (click)="onSelect(employee)"
  >
    <div class="employee-list__content">
      <span class="employee-list__id">{{ employee.id }}</span>
      <span class="employee-list__name">{{ employee.name }}</span>
    </div>
  </mat-list-item>
</mat-list>

<app-employee-detail
  [employee]="selectedEmployee"
  [managers]="managers"
  (employeeUpdated)="onEmployeeUpdated($event)"
  (newEmployeeCreated)="onNewEmployeeCreated($event)"
  (closed)="onEmployeeDetailsClosed()"
></app-employee-detail>
