@import '../../../variables';

.employee-list {
  width: 60%;
  margin: 0 auto;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__id,
  &__name {
    margin: 0 10px;
  }

  &__item {
    background-color: $navy-light;
    margin-bottom: 10px;
    border-radius: 5px;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;

    &:hover {
      cursor: pointer;
      background-color: $navy-medium;
      transform: scale(1.03);

      .employee-list__id,
      .employee-list__name {
        color: $rose-lightest !important;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .employee-list {
    width: 90%;
  }
}
