@import 'src/variables';

.employees {
  margin: 0 0 2rem 0;
  list-style-type: none;
  padding: 0;
  width: 15rem;

  &__item {
    display: flex;
  }

  &__id {
    display: inline-block;
    font-size: small;
    color: $text-color-light;
    padding: $padding-small;
    background-color: $background-color-dark;
    line-height: 0.3rem;
    margin-right: 0.8rem;
    border-radius: $badge-radius 0 0 $badge-radius;
  }

  &__name {
    align-self: center;
  }

  &__button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: $background-color-light;
    margin: $button-margin;
    padding: 0;
    border-radius: $button-radius;
    display: flex;
    align-items: stretch;
    height: $button-height;

    &:hover {
      background-color: $background-color-hover;
      left: 0.1rem;
    }

    &:active {
      background-color: $background-color-selected;
      color: $text-color-selected;
    }
    &--selected {
      background-color: $background-color-selected;
      color: $text-color-selected;

      &:hover {
        background-color: $background-color-hover;
      }

      &:active {
        background-color: $background-color-selected;
      }
    }
  }
}
