<ul class="employees">
  <li *ngFor="let employee of employees" class="employees__item">
    <button
      class="employees__button"
      [ngClass]="{ 'employees__button--selected': selectedEmployee === employee }"
      (click)="onSelect(employee)"
    >
      <span class="employees__id">{{ employee.id }}</span>
      <span class="employees__name">{{ employee.name }}</span>
    </button>
  </li>
</ul>

<app-employee-detail
  [employee]="selectedEmployee"
  [employees]="employees"
  (employeesUpdated)="onEmployeeUpdated($event)"
  (closed)="onEmployeeDetailsClosed()"
></app-employee-detail>
