@import '../../../variables';

.employee-details {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    display: block;
    padding: 1.25rem;
    background-color: $navy-light;
    border-radius: 0.5rem;
    box-shadow:
      0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2),
      0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14),
      0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
  }

  &__form-field {
    width: 100%;
  }

  &__information {
    padding: 1.25rem;
    background-color: $navy-lightest;
    border-radius: 0.5rem;
  }

  &__title {
    color: $navy-medium;
  }

  &__button {
    margin: 0.625rem;
    color: $white;

    &--edit {
      background-color: $navy-light;
    }

    &--close {
      background-color: $navy-lightest;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .employee-details {
    width: 90%;
    margin: 0 auto;
  }
}
