<mat-list class="employee-list">
  <mat-spinner class="employee-list__spinner" *ngIf="isLodaing; else employeeContent"> </mat-spinner>
  <ng-template #employeeContent>
    <mat-list-item
      *ngFor="let employee of employees"
      class="employee-list__item"
      [ngClass]="{ 'employee-list__item--selected': selectedEmployee === employee }"
      (click)="onSelect(employee)"
    >
      <div routerLink="/detail/{{ employee.id }}" class="employee-list__content">
        <span class="employee-list__id">{{ employee.id }}</span>
        <span class="employee-list__name">{{ employee.name }}</span>
      </div>
    </mat-list-item>
  </ng-template>
</mat-list>
