$h1-color: #264d73;
$button-background-color: #eee;
$button-background-color-hover: black;
$button-background-color-disabled: #eee;
$button-color: black;
$button-color-hover: white;
$button-color-disabled: #aaa;
$button-border-radius: 4px;
$button-font-size: 1.2rem;
$button-padding: 1rem;
$button-margin: 1rem;
$padding-small: 0.8rem 0.7rem 0 0.7rem;
$background-color-dark: #405061;
$background-color-light: #eee;
$background-color-hover: #2c3a41;
$background-color-selected: black;
$text-color-light: white;
$text-color-selected: white;
$button-height: 1.8rem;
$button-margin: 0.5rem;
$button-radius: 4px;
$badge-radius: 4px;
