@import 'variables';

:root {
  font-size: 10px;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: $h1-color;
  font-size: 2.5rem;
}

button {
  background-color: $button-background-color;
  border: none;
  border-radius: $button-border-radius;
  cursor: pointer;
  color: $button-color;
  font-size: $button-font-size;
  padding: $button-padding;
  margin-right: $button-margin;
  margin-bottom: $button-margin;
  margin-top: $button-margin;

  &:hover {
    background-color: $button-background-color-hover;
    color: $button-color-hover;
  }

  &:disabled {
    background-color: $button-background-color-disabled;
    color: $button-color-disabled;
    cursor: auto;
  }
}
